In [1]:
import h5pyd
import pandas as pd

In [2]:
! hsls -H -v /shared/ghcn/

ghcn                                                folder   2021-11-09 03:58:44 /shared/ghcn/
ghcn                                   89.5G        domain   2022-03-20 19:55:19 /shared/ghcn/ghcn.h5
ghcn                                                folder   2021-11-12 17:56:19 /shared/ghcn/year
3 items

In [3]:
f = h5pyd.File("/shared/ghcn/ghcn.h5", use_cache=False)

In [4]:
list(f)

['data', 'stations']

In [5]:
dset = f['data']
dset

In [6]:
dset.dtype

dtype([('station_id', 'S11'), ('ymd', 'S8'), ('element', 'S4'), ('data_value', '<i2'), ('m_flag', 'S1'), ('q_flag', 'S1'), ('s_flag', 'S1'), ('obs_time', 'S4')])

In [7]:
dset.dtype.itemsize

32

In [8]:
dset.chunks

(91268,)

In [9]:
dset.shape[0] // dset.chunks[0]

32907

In [10]:
df = pd.DataFrame(dset[:12])
df

,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,b'ITE00100554',b'17630101',b'TMAX',-36,b'',b'',b'E',b''
1,b'ITE00100554',b'17630101',b'TMIN',-50,b'',b'',b'E',b''
2,b'ITE00100554',b'17630102',b'TMAX',-26,b'',b'',b'E',b''
3,b'ITE00100554',b'17630102',b'TMIN',-40,b'',b'',b'E',b''
4,b'ITE00100554',b'17630103',b'TMAX',-9,b'',b'',b'E',b''
5,b'ITE00100554',b'17630103',b'TMIN',-29,b'',b'',b'E',b''
6,b'ITE00100554',b'17630104',b'TMAX',-4,b'',b'',b'E',b''
7,b'ITE00100554',b'17630104',b'TMIN',-24,b'',b'',b'E',b''
8,b'ITE00100554',b'17630105',b'TMAX',21,b'',b'',b'E',b''
9,b'ITE00100554',b'17630105',b'TMIN',1,b'',b'',b'E',b''
10,b'ITE00100554',b'17630106',b'TMAX',13,b'',b'',b'E',b''
11,b'ITE00100554',b'17630106',b'TMIN',-7,b'',b'',b'E',b''

In [11]:
# convert numpy result to Pandas dataframe
df = pd.DataFrame(dset[-12:])
df

,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,b'USW00094789',b'20220319',b'TAVG',87,b'H',b'',b'S',b''
1,b'USW00094814',b'20220319',b'TAVG',26,b'H',b'',b'S',b''
2,b'USW00094822',b'20220319',b'TAVG',39,b'H',b'',b'S',b''
3,b'USW00094823',b'20220319',b'TAVG',123,b'H',b'',b'S',b''
4,b'USW00094830',b'20220319',b'TAVG',86,b'H',b'',b'S',b''
5,b'USW00094846',b'20220319',b'TAVG',44,b'H',b'',b'S',b''
6,b'USW00094847',b'20220319',b'TAVG',86,b'H',b'',b'S',b''
7,b'USW00094849',b'20220319',b'TAVG',28,b'H',b'',b'S',b''
8,b'USW00094860',b'20220319',b'TAVG',35,b'H',b'',b'S',b''
9,b'USW00094908',b'20220319',b'TAVG',12,b'H',b'',b'S',b''
10,b'USW00094910',b'20220319',b'TAVG',28,b'H',b'',b'S',b''
11,b'WQW00041606',b'20220319',b'TAVG',274,b'H',b'',b'S',b''

In [12]:
stations = f["stations"]
stations

In [13]:
df = pd.DataFrame(stations[-12:])
df

,station_id,lat,lon,elev,state,name,gsn_flag,hcn_flag,wmo_id
0,b'ZI000067861',-18.216999,28.933001,1282.0,b'',b'GOKWE',b'',b'',b'67861'
1,b'ZI000067865',-18.933001,29.833000,1215.0,b'',b'KWEKWE',b'',b'',b'67865'
2,b'ZI000067867',-19.450001,29.850000,1429.0,b'',b'GWERU',b'',b'',b'67867'
3,b'ZI000067889',-18.283001,32.750000,1880.0,b'',b'WYANGA',b'',b'',b'67889'
4,b'ZI000067964',-20.150000,28.617001,1344.0,b'',b'BULAWAYO (GOETZ OBS',b'GSN',b'',b'67964'
5,b'ZI000067965',-20.017000,28.617001,1326.0,b'',b'BULAWAYO AIRPORT',b'',b'',b'67965'
6,b'ZI000067969',-21.049999,29.367001,861.0,b'',b'WEST NICHOLSON',b'',b'',b'67969'
7,b'ZI000067975',-20.066999,30.867001,1095.0,b'',b'MASVINGO',b'',b'',b'67975'
8,b'ZI000067977',-21.017000,31.583000,430.0,b'',b'BUFFALO RANGE',b'',b'',b'67977'
9,b'ZI000067983',-20.200001,32.616001,1132.0,b'',b'CHIPINGE',b'GSN',b'',b'67983'
10,b'ZI000067991',-22.216999,30.000000,457.0,b'',b'BEITBRIDGE',b'',b'',b'67991'
11,b'',0.000000,0.000000,0.0,b'',b'',b'',b'',b''

In [14]:
list(dset.attrs)

['_row_marker']

In [15]:
dset.attrs['_row_marker']

array([   2022, 6374121])

In [16]:
station_id = 'ASN00014016'

In [17]:
%time arr = dset.read_where(f"station_id == b'{station_id}'")

CPU times: user 564 ms, sys: 19.8 ms, total: 583 ms
Wall time: 4min 42s

In [18]:
arr.shape

(73182,)

In [19]:
# show data frame with all rows for this station id
df = pd.DataFrame(arr)
df

,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,b'ASN00014016',b'18690306',b'PRCP',351,b'',b'',b'a',b''
1,b'ASN00014016',b'18690307',b'PRCP',0,b'',b'',b'a',b''
2,b'ASN00014016',b'18690308',b'PRCP',0,b'',b'',b'a',b''
3,b'ASN00014016',b'18690309',b'PRCP',127,b'',b'',b'a',b''
4,b'ASN00014016',b'18690310',b'PRCP',0,b'',b'',b'a',b''
...,...,...,...,...,...,...,...,...
73177,b'ASN00014016',b'19620327',b'PRCP',0,b'',b'',b'a',b''
73178,b'ASN00014016',b'19620328',b'PRCP',0,b'',b'',b'a',b''
73179,b'ASN00014016',b'19620329',b'PRCP',53,b'',b'',b'a',b''
73180,b'ASN00014016',b'19620330',b'PRCP',0,b'',b'',b'a',b''
73181,b'ASN00014016',b'19620331',b'PRCP',0,b'',b'',b'a',b''

In [ ]:
%%time
# get unique station ids per year
station_year_map = {}
cursor = dset.create_cursor()
count = 0
for row in cursor:
    station_id = row['station_id'].decode('ascii')
    ymd = row['ymd'].decode('ascii')
    if len(ymd) != 8:
        # print(f"unexpected ymd: {ymd}")
        count += 1
        continue
    year = int(ymd[:4])  # format YYYYMMDD
    if year not in station_year_map:
        station_year_map[year] = set()
    station_ids = station_year_map[year]
    station_ids.add(station_id)
print("bad lines:", count)

In [ ]:
station_year_map.keys()

In [ ]:
len(station_year_map[1876])

In [ ]:
for year in station_year_map:
    station_ids = station_year_map[year]
    print(f"{year} - {len(station_ids)}")