## GHCN Example
GHCN is a collection of weather station data collected from the year 1763 to present.
This notebook illustrates how to read ghcn data using h5pyd and query for sp
See: https://www.ncei.noaa.gov/products/land-based-station/global-historical-climatology-network-daily,
for a description of the format.

In [1]:
import h5pyd
import pandas as pd

In [2]:
! hsls -H -v /shared/ghcn/

ghcn                                                folder   2021-11-09 03:58:44 /shared/ghcn/
ghcn                                   89.9G        domain   2022-08-17 20:14:18 /shared/ghcn/ghcn.h5
ghcn                                                folder   2021-11-12 17:56:19 /shared/ghcn/year
3 items
89.9G bytes

In [3]:
# set use_cache to false as the domain will be updated periodically
f = h5pyd.File("/shared/ghcn/ghcn.h5", use_cache=False)

In [4]:
list(f)

['data', 'stations']

In [5]:
# get the main dataset
dset = f['data']
dset

In [6]:
# dataset has a compound type to represent the different reporting fields
# for each observation
dset.dtype

dtype([('station_id', 'S11'), ('ymd', 'S8'), ('element', 'S4'), ('data_value', '<i2'), ('m_flag', 'S1'), ('q_flag', 'S1'), ('s_flag', 'S1'), ('obs_time', 'S4')])

In [7]:
dset.dtype.itemsize

32

In [8]:
dset.chunks

(91268,)

In [9]:
dset.shape[0] // dset.chunks[0]

33063

In [10]:
# read the first few rows to a Pandas dataframe
df = pd.DataFrame(dset[:12])
df

,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,b'ITE00100554',b'17630101',b'TMAX',-36,b'',b'',b'E',b''
1,b'ITE00100554',b'17630101',b'TMIN',-50,b'',b'',b'E',b''
2,b'ITE00100554',b'17630102',b'TMAX',-26,b'',b'',b'E',b''
3,b'ITE00100554',b'17630102',b'TMIN',-40,b'',b'',b'E',b''
4,b'ITE00100554',b'17630103',b'TMAX',-9,b'',b'',b'E',b''
5,b'ITE00100554',b'17630103',b'TMIN',-29,b'',b'',b'E',b''
6,b'ITE00100554',b'17630104',b'TMAX',-4,b'',b'',b'E',b''
7,b'ITE00100554',b'17630104',b'TMIN',-24,b'',b'',b'E',b''
8,b'ITE00100554',b'17630105',b'TMAX',21,b'',b'',b'E',b''
9,b'ITE00100554',b'17630105',b'TMIN',1,b'',b'',b'E',b''
10,b'ITE00100554',b'17630106',b'TMAX',13,b'',b'',b'E',b''
11,b'ITE00100554',b'17630106',b'TMIN',-7,b'',b'',b'E',b''

In [11]:
# show the last twelve rows as a Pandas dataframe
df = pd.DataFrame(dset[-12:])
df

,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,b'VQW00011624',b'20220814',b'TMIN',267,b'',b'',b'D',b'2400'
1,b'VQW00011624',b'20220814',b'PRCP',74,b'',b'',b'D',b'2400'
2,b'VQW00011640',b'20220814',b'TMAX',333,b'',b'',b'D',b'2400'
3,b'VQW00011640',b'20220814',b'TMIN',272,b'',b'',b'D',b'2400'
4,b'VQW00011640',b'20220814',b'PRCP',58,b'',b'',b'D',b'2400'
5,b'USC00124260',b'20220815',b'SNWD',0,b'',b'',b'H',b'2400'
6,b'USC00154958',b'20220815',b'SNWD',0,b'',b'',b'H',b'2400'
7,b'USC00206013',b'20220815',b'SNWD',0,b'',b'',b'H',b'2400'
8,b'USC00208941',b'20220815',b'SNWD',0,b'',b'',b'H',b'2400'
9,b'USC00300364',b'20220815',b'TOBS',161,b'',b'',b'H',b'0700'
10,b'USC00300364',b'20220815',b'SNOW',0,b'',b'',b'H',b''
11,b'USC00300364',b'20220815',b'SNWD',0,b'',b'',b'H',b'0700'

In [12]:
# this is a smaller dataset that has one row for each reporting station
stations = f["stations"]
stations

In [13]:
df = pd.DataFrame(stations[-12:])
df

,station_id,lat,lon,elev,state,name,gsn_flag,hcn_flag,wmo_id
0,b'ZI000067861',-18.216999,28.933001,1282.0,b'',b'GOKWE',b'',b'',b'67861'
1,b'ZI000067865',-18.933001,29.833000,1215.0,b'',b'KWEKWE',b'',b'',b'67865'
2,b'ZI000067867',-19.450001,29.850000,1429.0,b'',b'GWERU',b'',b'',b'67867'
3,b'ZI000067889',-18.283001,32.750000,1880.0,b'',b'WYANGA',b'',b'',b'67889'
4,b'ZI000067964',-20.150000,28.617001,1344.0,b'',b'BULAWAYO (GOETZ OBS',b'GSN',b'',b'67964'
5,b'ZI000067965',-20.017000,28.617001,1326.0,b'',b'BULAWAYO AIRPORT',b'',b'',b'67965'
6,b'ZI000067969',-21.049999,29.367001,861.0,b'',b'WEST NICHOLSON',b'',b'',b'67969'
7,b'ZI000067975',-20.066999,30.867001,1095.0,b'',b'MASVINGO',b'',b'',b'67975'
8,b'ZI000067977',-21.017000,31.583000,430.0,b'',b'BUFFALO RANGE',b'',b'',b'67977'
9,b'ZI000067983',-20.200001,32.616001,1132.0,b'',b'CHIPINGE',b'GSN',b'',b'67983'
10,b'ZI000067991',-22.216999,30.000000,457.0,b'',b'BEITBRIDGE',b'',b'',b'67991'
11,b'',0.000000,0.000000,0.0,b'',b'',b'',b'',b''

In [14]:
# let's see what the station in Darwin, Australia has reported
station_id = 'ASN00014016'

In [15]:
# this will take a few minutes to query the entire dataset
%time arr = dset.read_where(f"station_id == b'{station_id}'")

CPU times: user 4.75 s, sys: 138 ms, total: 4.89 s
Wall time: 16min 29s

In [16]:
arr.shape

(73182,)

In [17]:
# show data frame with all rows for this station id
df = pd.DataFrame(arr)
df

,index,station_id,ymd,element,data_value,m_flag,q_flag,s_flag,obs_time
0,860214,b'ASN00014016',b'18690306',b'PRCP',351,b'',b'',b'a',b''
1,860406,b'ASN00014016',b'18690307',b'PRCP',0,b'',b'',b'a',b''
2,860579,b'ASN00014016',b'18690308',b'PRCP',0,b'',b'',b'a',b''
3,860770,b'ASN00014016',b'18690309',b'PRCP',127,b'',b'',b'a',b''
4,860961,b'ASN00014016',b'18690310',b'PRCP',0,b'',b'',b'a',b''
...,...,...,...,...,...,...,...,...,...
73177,928575652,b'ASN00014016',b'19620327',b'PRCP',0,b'',b'',b'a',b''
73178,928658285,b'ASN00014016',b'19620328',b'PRCP',0,b'',b'',b'a',b''
73179,928740909,b'ASN00014016',b'19620329',b'PRCP',53,b'',b'',b'a',b''
73180,928823559,b'ASN00014016',b'19620330',b'PRCP',0,b'',b'',b'a',b''
73181,928906259,b'ASN00014016',b'19620331',b'PRCP',0,b'',b'',b'a',b''

In [ ]:
%%time
# get unique station ids per year
station_year_map = {}
cursor = dset.create_cursor()
count = 0
for row in cursor:
    station_id = row['station_id'].decode('ascii')
    ymd = row['ymd'].decode('ascii')
    if len(ymd) != 8:
        # print(f"unexpected ymd: {ymd}")
        count += 1
        continue
    year = int(ymd[:4])  # format YYYYMMDD
    if year not in station_year_map:
        station_year_map[year] = set()
    station_ids = station_year_map[year]
    station_ids.add(station_id)
print("bad lines:", count)

In [ ]:
station_year_map.keys()

In [ ]:
len(station_year_map[1876])

In [ ]:
for year in station_year_map:
    station_ids = station_year_map[year]
    print(f"{year} - {len(station_ids)}")